<div *ngIf="task">
<div class="task-list-header">
  <nav class="navbar">
      <h4>Коментарі до :{{task.title}}</h4>
  </nav>
</div>
<div class="form-builder">
  <button (click)="viewFormCreate()" class="btn btn-warning btn-block ">Додати коментарій до таску!</button>
  <div *ngIf="isCreated">
    <br>
    <form id="contact-form" [formGroup]="checkoutForm" (ngSubmit)="handleCreate(checkoutForm.value)" role="form">
      <div class="controls">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="form_message">Повідомлення *</label>
              <textarea id="form_message" class="form-control" formControlName="description" class="form-control" placeholder="Повідомлення до таску*" rows="4" required="required" data-error="Залиште повідомлення."></textarea>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-12">
            <input type="submit" class="btn btn-success btn-send btn-block" value="Створити коментарій">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="comments form-builder">
  <div  *ngIf="comments">
  <h3 class="title-comments">Комментарии ({{comments.length}})</h3>
  </div>
  <ul class="media-list">
    <div *ngIf="comments">
      <li class="media block-comment" *ngFor="let com of comments">
        <div class="media-body">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <div class="author">Автор :{{com.userId}}</div>
            </div>
            <div class="panel-body">
              <div class="media-text text-justify body-text">{{com.description}}</div>
            </div>
            <div class="panel-footer ">
                <span class="date">Дата створення :{{com.createdDate}}</span>
                <span class="date">Дата останьої зміни :{{com.updatedDate}}</span>
                <button  *ngIf="checkOnOwner(com.userId)" (click)="handleEdit(com.id)" class="btn btn-secondary" href="#">Редагувати</button>
                <button *ngIf="checkOnOwner(com.userId)" (click)="handleDelete(com.id)" class="btn btn-danger" href="#">Видалити</button>
            </div>
          </div>

        </div>
      </li>
    </div>
  </ul>
</div>
</div>
