<div
  *ngIf="this.userVerfService.supervisorVerification()||this.userVerfService.responsiblePersonVerification(); else elseBlock"
  class="row">
  <div class="my-5 col-sm-4 offset-sm-4 text-center">
    <h2>Create Task</h2>
    <br>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)"
      class="form-inlin justify-content-center">
      <div class="form-group row">
        <input type="text" class="form-control" formControlName="title" placeholder="Title">
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger" style="width: 100%">
          <div *ngIf="title.errors.required">
            Title is required.
          </div>
        </div>
      </div>
      <div class="form-group row">
        <textarea type="textarea" class="form-control" formControlName="description"
          placeholder="Description"></textarea>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger" style="width: 100%">
          <div *ngIf="description.errors.required">
            Description is required.
          </div>
          <div *ngIf="description.errors.minlength">
            Min length is 3 symbols.
          </div>
        </div>
      </div>
      <div *ngIf="!this.userVerfService.supervisorVerification()" class="form-group row">
        <input type="number" class="form-control" formControlName="budget" placeholder="Budget">
        <div *ngIf="budget.invalid && (budget.dirty || budget.touched)" class="alert alert-danger" style="width: 100%">
          <div *ngIf="budget.errors.required">
            Budget is required.
          </div>
        </div>
      </div>
      <div *ngIf="!this.userVerfService.responsiblePersonVerification()||this.userVerfService.supervisorVerification()"
        class="form-group row">
        <input type="number" class="form-control" formControlName="approvedBudget" placeholder="Approved Budget">
        <div *ngIf="approvedBudget.invalid && (approvedBudget.dirty || approvedBudget.touched)" class="alert alert-danger" style="width: 100%">
          <div *ngIf="approvedBudget.errors.required">
            Budget is required.
          </div>
        </div>
      </div>
      <!-- <div class="form-group row">
        <select class="form-control" formControlName="taskStatus">
          <option value="" disabled selected>Task Status</option>
          <option style="color: black" value="Todo">Todo</option>
          <option style="color: black" value="InProgress">InProgress</option>
          <option style="color: black" value="Done">Done</option>
        </select>
      </div> -->
      <div *ngIf="this.userVerfService.supervisorVerification();" class="form-group row">
        <select class="form-control" formControlName="usersOrganizationsId" name="users">
          <option value="" disabled selected>Assignee</option>
          <option style="color: black" *ngFor="let user: of allUsers" value="{{user.id}}">{{user.firstName}}</option>
        </select>
      </div>
      <div class="form-group row">
        <input class="form-control col-sm-6" matInput [matDatepicker]="picker" formControlName="deadlineDate"
          placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!checkoutForm.valid">Create</button>
    </form>
  </div>
</div>
<ng-template #elseBlock>
  <div class="my-5 col-sm-4 offset-sm-4 text-center">
    <h2>You don't have permissions to create task.</h2>
  </div>
</ng-template>
