<div *ngIf="!this.isLoading">
  <div *ngIf="this.isAdmin || this.isSuper || this.isRespons; else accessDenied" class="text-center row my-4">
    <div *ngFor="let organization of organizations" class="mt-4 mb-4 card-wrapper">
      <div class="card border-dark">
        <div class="card-header">
          <div *ngIf="!this.isAdmin; else numberTaskAccessDenied" class="row list-group list-group-horizontal mx-auto">
            <div class="col border list-group-item-success">
              {{organization.numberDone}}
            </div>
            <div class="col border list-group-item-warning">
              {{organization.numberInProgress}}
            </div>
            <div class="col border list-group-item-danger">
              {{organization.numberToDo}}
            </div>
          </div>
        </div>
        <div class="card-body text-dark"
             (dblclick)="(this.isRespons || this.isSuper) && onDblClickTasksList(organization.id)">
          <h6 class="card-title text-ellipsis" matTooltip="Address: {{organization.address}}">{{organization.address}}</h6>
          <br>
          <h5 class="card-title text-center text-ellipsis" matTooltip="Name: {{organization.name}}">{{organization.name}}</h5>
          <br>
          <div *ngIf="(this.isRespons || this.isSuper); else createTask" (click)="onClickCreateTask(organization.id)"
               class="create-task-button">
            <img src="/assets/plus1.png">
          </div>
          <div *ngIf="this.isAdmin" (click)="onClickDeleteOrganization(organization)">
            <img src="/assets/delete.png" class="delete-organization-button">
          </div>
          <div *ngIf="this.isAdmin"
               (click)="onClickUpdateOrganization(organization.id)">
            <img src="/assets/update.png" class="update-organization-button">
          </div>
          <div
            *ngIf="this.isAdmin"
            (click)="onClickUsersOrganization(organization.id)">
            <img src="/assets/users-organization.png" class="users-organization-button">
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="this.isAdmin" class="mt-3 mb-5 card-add-wrapper">
      <div class="card-body text-dark">
        <div (click)="onClickCreateOrganization()" class="create-organization-button">
          <img src="/assets/plus.png">
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #createTask>
  <div style="width: 48px; height: 48px">
  </div>
</ng-template>

<ng-template #accessDenied>
  <div class="denied mt-3 p-5 alert-danger">
    <h2 class="text-danger mt-3">ACCESS DENIED !!!</h2>
    <p class="mt-4">You dont have permissions to view this resource.<br><br> Please contact your administrator.</p>
  </div>
</ng-template>

<ng-template #numberTaskAccessDenied>
  <div class="row list-group list-group-horizontal mx-auto">
    <div class="col border list-group-item-success">
      <img src="/assets/block.png" alt="" class="block">
    </div>
    <div class="col border list-group-item-warning">
      <img src="/assets/block.png" alt="" class="block">
    </div>
    <div class="col border list-group-item-danger">
      <img src="/assets/block.png" alt="" class="block">
    </div>
  </div>
</ng-template>

<mat-spinner *ngIf="isLoading" diameter="100" class="spinner"></mat-spinner>


