.email-search {
     margin-left: auto;
     margin-right: 10px;
}
.form-control {
     width: 247px;
}

.user-list-body {
     padding-left: 25px;
}

nav {
     padding-top: 30px;
}


.user-list-header, .user-list-body {
     background: white;
}

.table-info {
     font-size: 14px;
     font-weight: bold;
}

.table {
     margin-top: 20px;
}

.allUsers {
     margin-left: 10px;
}

.searchByName:focus {
     outline: none;
     border-color: inherit;
     -webkit-box-shadow: none;
     box-shadow: none;
}

.activate {
     border: none;
     background: transparent;
     text-decoration: none;
     outline: none;
}

.activated {
     font-weight: bold;
     color: rgb(34, 165, 40);
     font-style: italic;
}
.deactivated {
     color: rgb(209, 76, 58);  
     font-weight: bold;
     font-style: italic;  
}

.fa-minus-circle {
     color: rgb(209, 76, 58);
     font-size: 1.3em;
}

.fa-plus-circle {
     color: rgb(34, 165, 40);
     font-size: 1.3em;
}

.btn-secondary {
     padding: 6px;
     color: #444;
}
.btn-secondary:hover {
     background-color: transparent;
     padding: 6px;
     color: #444;
}

.btn-secondary:active {
     background-color: transparent;
     padding: 6px;
     color: #444;
}

.dropdown-menu {
     padding: 15px;
     width: 300px;
}

.btn {
     margin-right: 10px;
}

.roleButton {
     background: transparent;
     outline: none;
     border: none;
}

.roleButton:hover, .roleButton:active {
     background: transparent;
     outline: none;
     border: none;
}

.rolesView { 
     font-size: 14px;
}

.denied{
     width: 400px;
     margin-right: auto;
     margin-left: auto;
     border-radius: 5px;
}

.pagin-centre {
     width: 300px;
     margin: 0 auto;
}

.pagination:hover {
     cursor: pointer;
}