<div class="user-list-header">
    <nav class="navbar">
        <a class="navbar-brand">Smartcity users</a>
        <form [formGroup]="checkoutForm" (ngSubmit)="searchByEmail(checkoutForm.value)" class="email-search form-inline">
                <input class="form-control" formControlName="email" type="text" placeholder="Email">
                <button class="btn btn-outline-secondary my-sm-0 ml-2">Search</button>
        </form>
    </nav>        
</div>
<div class="user-list-body table-responsive">
    <table class="table table-border">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Password</th>
                <th>Date Created</th>
                <th>Date Updated</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody *ngIf="users[0]!=null; else elseBlock1">
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.phoneNumber}}</td>
                <td>{{user.email}}</td>
                <td>*******</td>
                <td>{{user.createdDate}}</td>
                <td>{{user.updatedDate}}</td>
                <td>{{user.active}}</td>
                <td>
                    <button><i class="fas fa-pen"></i></button>
                    <button><i class="fas fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
        <ng-template #elseBlock1>
            <tbody *ngIf="users">
            <!-- <tr *ngFor="let user of users"> -->
                <td>{{users.id}}</td>
                <td>{{users.name}}</td>
                <td>{{users.surname}}</td>
                <td>{{users.phoneNumber}}</td>
                <td>{{users.email}}</td>
                <td>*******</td>
                <td>{{users.createdDate}}</td>
                <td>{{users.updatedDate}}</td>
                <td>{{users.active}}</td>
                <td>
                    <button><i class="fas fa-pen"></i></button>
                    <button><i class="fas fa-trash"></i></button>
                </td>
            <!-- </tr> -->
        </tbody></ng-template>
    </table>
</div>