<div class="user-list-header">
  <nav class="navbar navbar-light">
    <button class="navbar-brand" (click)="getUsers()">Smartcity users</button>
    <form class="email-search form-inline" (ngSubmit)="getUserByEmail(inputEmail)" >
      <label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
          <input class="form-control" type="search" placeholder="Search by email" aria-label="Search" [(ngModel)]="inputEmail" name="inputEmail">
        </div>
      </label>
    </form>
  </nav>
</div>
<div class="user-list-body table-responsive">
  <table class="table table-borderless">
    <thead class="thead-light">
    <tr>
      <th>Id</th>
      <th>Fullname</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Date Created</th>
      <th>Roles</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody *ngIf="users">
    <tr *ngFor="let user of users">
      <td style="color: #555"><strong>{{user.id}}</strong></td>
      <td>{{user.name}} {{user.surname}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phoneNumber}}</td>
      <td>{{user.createdDate}}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            edit roles
          </button>
          <div *ngIf="user.roles" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div *ngFor="let role of allRoles" >
              <label for=""><input type="checkbox" [checked]="getUserRoles(user, role)" (change)="toggleEditable($event, role, user)"> {{role.name}}</label>
            </div>
          </div>
        </div>
      </td>
      <td [className]="user.active ? 'activated' : 'deactivated'">{{user.active}}</td>
      <td>
        <button (click)=activateUser(user)><i class="fas fa-plus-circle"></i></button>
        <button (click)="deactivateUser(user)"><i class="fas fa-minus-circle"></i></button>
      </td>
    </tr>
  </table>
</div>
