.email-search {
     margin-left: auto;
     margin-right: 10px;
}
.form-control {
     width: 247px;
}
.navbar-brand {
     margin-left: 8px;
}

button {
     border: none;
     background: transparent;
     text-decoration: none;
     outline: none;
}

.user-list-header, .user-list-body {
     background: white;
}



.activated {
     font-weight: bold;
     color: rgb(34, 165, 40);
     font-style: italic;
}
.deactivated {
     color: rgb(209, 76, 58);  
     font-weight: bold;
     font-style: italic;  
}

.fa-minus-circle {
     color: rgb(209, 76, 58);
     font-size: 1.3em;
}

.fa-plus-circle {
     color: rgb(34, 165, 40);
     font-size: 1.3em;
}
