<div>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
    <div >
      <a class="navbar-brand ml-2 mr-2 align-middle" routerLink="home/main">GrowIt<img class="align-middle gear ml-1" src="/assets/bumerang.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
              <div *ngIf="!user;" routerLink="home/borrow" class="pointer" >Borrow</div>
            </li>
            <li class="ml-4 nav-item active">
                <div *ngIf="!user;" routerLink="home/invest" class="pointer" >Invest</div>
            </li>
            <li class="ml-4 nav-item active">
                <div *ngIf="!user;" routerLink="home/how-it-works" class="pointer" >How it works</div>
            </li>
        <li class="nav-item active">
          <div *ngIf="user&&(this.userVerfService.adminVerification()||this.userVerfService.supervisorVerification()||this.userVerfService.responsiblePersonVerification());" class="pointer" (click)="toOrg()">Dashboard</div>
        </li>
        <li class="mx-3 my-auto">
          <div *ngIf="user&&this.userVerfService.adminVerification()" class="pointer" (click)="toUsers()">Users</div>
        </li>
      </ul>
      <div *ngIf="user; else elseBlock2">
        <div class="form-group row my-1 mr-1">
          <ng-template [ngIf]="canSeeBudget()">
            <label for="Budget" class="col-sm-2 col-form-label">Budget:</label>
            <label for="Budget" class="col-sm-1 col-form-label">₴</label>

            <div class="col-sm-6 row">
              <input type="number" class="form-control" id="Budget" placeholder="" value="{{budget!=null?budget.value:0}}" readonly>
            </div>
          <ng-template [ngIf]="this.userVerfService.supervisorVerification()" [ngIfElse]="ml">
              <button *ngIf="!awaitingBudgetDepositFinish; else elseShowLoading" (click)="toggleBudgetPopup()" class="clear-button col-sm-1">
                <i class="fas fa-plus-circle"></i>
              </button>
            </ng-template>
            <ng-template #ml> 
              <div class="mr-4"></div>
            </ng-template>
            <ng-template #elseShowLoading>
              <div class="col-sm-1">
                <div class="spinner"></div>
              </div>
            </ng-template>
          </ng-template>

          <div>
            <ul class="form-group row my-2 mr-1">
             <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i>{{user.firstName}} <span
                  class="caret"></span></a>
              <ul class="dropdown-menu">
             <li>
                 <a routerLink="/home/user-update"><i class="fa fa-id-card ml-2" aria-hidden="true"></i>Profile</a>
             </li>
             <li role="separator" class="divider"></li>
             <li>
                     <button (click)="logOut()" class="btn btn-link"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</button>
             </li>
                </ul>   
                </li>
            </ul>
          </div>
        </div>
        
        <div *ngIf="canSeeBudget()" id="nav-budget-deposit-popup" class="nav-budget-deposit-popup row my-2 mr-1 step" [class.hide]="!showBudgetDepositPopup">
          <input #deposit
            (keyup.enter)="depositBudget(deposit.value)"
            type="number" class="form-control nav-budget-deposit col-sm-9" placeholder="0" value="0" [disabled]="!showBudgetDepositPopup">
          <button (click)="depositBudget(deposit.value)" class="clear-button col-sm-1" [disabled]="!showBudgetDepositPopup"><i class="fas fa-dollar-sign fa-2x"></i></button>
        </div>
      </div>
      <ng-template #elseBlock2>
        <button class="btn btn-outline-secondary my-sm-0 ml-2" [routerLink]="['/home/signin']" type="button">Log in</button>
      </ng-template>

    </div>
  </nav>
</div>

