<div class="row">
  <div class="password-reset-panel my-5 col-sm-6 offset-sm-3 text-center">
    <div class="row">
      <div class="col-sm-8 my-4 offset-sm-2 text-center">
        <div *ngIf="!this.done; then showMailInput else showSuccess"></div>
        <ng-template #showMailInput>
          <h2>Forgot your password?</h2>
          <br>
          <form [formGroup]="emailForm" (ngSubmit)="onSubmit(emailForm.value.email)" class="form-inlin justify-content-center">
            <div class="form-group row">
              <input type="email" class="form-control" formControlName="email" placeholder="Email">
            </div>
            <div *ngIf="!await; else showAwaitMsg">
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
            <ng-template #showAwaitMsg>
              Processing...
            </ng-template>
          </form>
        </ng-template>
        <ng-template #showSuccess>
          <h2>Email sent!</h2>
          <br>
          Wonderful! An email with password reset instructions has been sent to the specified address.
          Please check your inbox and follow those instructions to reset your password.
        </ng-template>
      </div>
    </div>
  </div>
</div>