.date-search {
    margin-left: auto;
}

button {
    border: none;
    background: transparent;
    text-decoration: none;
    outline: none;
}

.transaction-list-header, .transaction-list-body {
    background: white;
    text-align: center;
}

.fa-pen {
    color: gray;
}

.fa-trash {
    color: black;
}
p.mix {border-style: dotted dashed solid double;}